$h-button-padding-right: round($v-unit-size / 4) !default;
$h-button-padding-left: round($v-unit-size / 4) !default;

$h-button-hover-background-color: null !default;
$h-button-hover-color: null !default;

$h-button-pressed-background-color: null !default;
$h-button-pressed-color: null !default;

$h-button-background-color: null !default;
$h-button-color: #ffffff !default; // havana specific

@mixin headerbutton-button($primary-stylename: h-button) {

 .#{$primary-stylename} {
   position: relative;
   display: inline-block;
   cursor: pointer;
   height: $cuba-window-modal-header-height;
   padding-left: $h-button-padding-left;
   padding-right: $h-button-padding-right;

   background-color: $h-button-background-color;

   @if ($h-button-color != null) {
     color: $h-button-color;
   } @else if ($h-button-background-color != null) {
     color: valo-font-color($h-button-background-color, 0.8);
   } @else {
     color: valo-font-color($c-window-header-background-color, 0.8); // havana specific
   }
 }

 .#{$primary-stylename}:last-child {
   margin-right: $v-unit-size;
 }

 .#{$primary-stylename}:hover {
   @include header-button-colors($h-button-hover-background-color, $h-button-hover-color, 5%);
  }

 .#{$primary-stylename}.h-pressed {
   @include header-button-colors($h-button-pressed-background-color, $h-button-pressed-color, 10%);
 }

 .#{$primary-stylename}.h-icon:not(.h-caption) {
   text-align: center;
   width: $v-unit-size;
   line-height: $cuba-window-modal-header-buttons-line-height; // havana specific
 }

 .#{$primary-stylename}.t-show-description {
   .h-tooltip {
     visibility: visible;
     transition-delay: .7s;
     transition-duration: .3s;
     transition-timing-function: linear;
   }
 }

 .#{$primary-stylename}-icon,
 .#{$primary-stylename}-caption {
   line-height: $cuba-window-modal-header-buttons-line-height;
   pointer-events: none;
 }
}

@mixin header-button-colors($bg-color, $color, $darkness) {
 $h-background-color: null;
 @if ($bg-color != null) {
   $h-background-color: $bg-color;
 } @else if ($c-window-header-background-color != null) { // havana specific
   $h-background-color: $c-window-header-background-color;

 } @else if($cuba-window-modal-header-background != null) {
   $h-background-color: $cuba-window-modal-header-background;

 } @else if ($h-background-color == null) {
   $h-background-color: $v-background-color;
 }

 $bck: darken($h-background-color, $darkness);
 background-color: $bck;

 @if ($color != null) {
   color: $color;
 } @else {
   color: valo-font-color($bck, 0.8);
 }
}